@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.eot');
    src: url('../fonts/abrilfatface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff'),
         url('../fonts/abrilfatface-regular-webfont.ttf') format('truetype'),
         url('../fonts/abrilfatface-regular-webfont.svg#abril_fatfaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-size:16px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

/* Headers*/

img.align-center {
	display: block;
	margin: 0px auto;
	padding-bottom:20px;}

h1 {
	font-family:"Cinzel", serif;
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 0;
	padding-top:20px;
}

section h1 {
    font-size: 1.75rem;
    font-weight: 300;
}

nav {
    width: 100%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    border-top: 3px solid #f2ec43;
    border-bottom: 3px solid #f2ec43;
}

nav li {
    display: inline-block;
    margin: 8px;
	
}

nav a {
    text-decoration: none;
    color: #f58119;
    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:24px;
	padding-left: 80pt;
}

nav a:hover {
    color: #F67F14;

}

.container {
    margin: 10px 4%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: block;
	align-content:center;
}

.container::after, .row::after {
    clear: both;
    display: table;
    content: "";
}

.col {
    float: left;
    display: block;
	color:#746C6C;
	font-size:16pt;
	font-family:"Raleway", sans-serif;
}

.col:last-child {
    margin: 0;
}

.col-4 {
    width: 100%;
    margin-right: 0;
}

.col img {
    width: 100%;
}
.col h1 {
	color:#20A3DC;
	}
	
food{
	margin: 0px;
	text-align: left;
	}
	
@media (min-width: 768px) {
    /*
        750 - (236*3) - (21*2)
        236/750 = 31.4666667%
        20/750 = 2.6666667%
    */
    .container {
        width: 750px;
        margin: 15px auto;
    }

    .col-4 {
        width: 31.4666667%;
        margin-right: 2.6666667%;
		text-align:center;
		color:#797979 ;
    }
	
}

@media (min-width: 992px) {
    /*
        960 - (306*3) - (21*2)
        306/960 = 31.875%
        21/960 = 2.1875%
    */
    .container {
        width: 960px;
        margin: 20px auto 5px;
    }

    .col-4 {
        width: 31.875%;
        margin-right: 2.1875%;
		text-align:center;
		color:#687024;
    }

    h1 {
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    /*
        1000 - (320*3) - (20*2)
        320/1000 = 32%
        20/1000 = 2%
    */
    .container {
        width: 1000px;
        margin: 40px auto 10px;
    }

    .col-4 {
        width: 32%;
        margin-right: 2%;
		text-align:center;
    }

    h1 {
        font-size: 3.75em;
        font-weight: 200;
    }
}

